ALLOWED_HOSTS=['localhost', '127.0.0.1', 'map-service']

MARIADB_DATABASE=buriedmarks
MARIADB_USER=buriedmarks
MARIADB_PASSWORD=
DATABASE_PORT=3306

SECRET_KEY=
JWT_PUBLIC_KEY=

PRIVATE_KEY_PATH=ec_private.key
PUBLIC_KEY_PATH=ec_public.key

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=buried-marks-media
AWS_S3_REGION_NAME=eu-north-1
